/* Reset rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------- END ----------- */

.main-nav {
  width: 600px;
  height: 60px;
  border: 1px solid #e2e2e2;
  position: fixed;
}

.main-nav ul {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

.main-nav ul li {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
  padding-top: 5px;
}

#nyt-logo {
  height: 26.5px;
  margin: 0 auto;
}


