/* Reset rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------- END ----------- */
header {
  position: fixed;
  width: 100%;
}

.main-nav {
  position: relative;
  margin: 0 auto;
  height: 50px;
  padding: 15px 25px;
  border-bottom: 1px solid #e2e2e2;
}

.main-nav ul {
  list-style: none;
  display: inline-block;
}

.main-nav ul li {
  display: inline-block;
}

.main-nav ul a {
  text-decoration: none;
  color: black;
}

.left {
  float: left;
  font-size: 10px;
}

.left li {
  padding-right: 15px;
}

.float {
  text-align: center;
}

.float::after {
  content: "";
  display: table;
  clear: both;
}
.right {
  float: right;
}

#nyt-logo {
  height: 26.5px;
}

.center {
  margin-top: 20px;
}

.right button {
  padding: 10px 15px;
  margin-top: -30px;
  background-color: #326891;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.main {
  height: 5000px;
  padding-top: 120px;
}

.title {
  width: 430px;
  font-size: 38px;
  margin: 20px auto;
}

figure {
  width: 80%;
  margin: 0 auto;
}

.main-img {
  width: 945px;
  margin: 0 auto;
  text-align: center;
}
